* {
  margin: 0px;
  padding: 0px;
  color: #6E6E6E;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-width: 944px;
}
#dummy {
  visibility: hidden;
}
.number-guesser-container {
  margin: auto;
  width: 944px;
}
.game-title-container {
  width: 100%;
  height: 100px;
  background-color: #404041;

}
.thick-skinny-inline {
  display: inline;
  color: #DD1972;
  font-size: 54px;
}
.game-header-thick {
  font-weight: 700;
  margin-right: -15px;
}
.game-header-skinny {
  font-weight: 300;
}
.game-container {
  display:flex;
  margin:auto;
}


/*LEFT SIDE*/
.game-input-container {
  height: 960px;
  width: 472px;
  padding:20px;
  /*CHANGE WIDTH TO 320 FOR MOBILE*/
  background-color: #F7F7F7;
}
/*LEFT TOP*/
.range-modifiers-container {
  width: 432px;
  margin: auto;
  display: flex;
  align-content: middle;
  background-color: #FFFFFF;
}
.min-range-container, .max-range-container, .update-button-container {
  height: 100px;
}
.min-range-container  {
  padding:10px;
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.input-title-header {
  margin-bottom:5px;
  font-size: 16px;
}
.input-box-header {
  font-size: 14px;
}
.min-range, .max-range {
  font-size: 21px;
  width: 100%;
}
.error-image {
  height: 10px;
  width: 10px;
}
.error-min, .error-max {

 /* font-size: 14.5px;
  padding-top: 5px;
  height: 30px;
  width: 30%;
  color: #DD1972;*/
}
/*.hide-error {
  visibility: hidden;
}*/

.max-range-container {
  padding:10px;
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.update-button-container {
  padding-right:10px;
  flex: 3.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.update-button {
  width: 100%;
  height: 30px ;
  color: #FFFFFF;
  background-color: #6E6E6E;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 700;
  /*flex: 2;*/
}
/*LEFT MIDDLE*/
.player-guesses-container {
  width: 432px;
  margin:auto;
  display:flex;
  background-color: #FFFFFF;
  flex-wrap: wrap;
  margin:20px 0px 20px 0px;
}
.current-range-container {
  width:100%;
  padding: 10px;
  height:35px;
  display: flex;
  align-items: center;
}
.current-range {
  font-size:14px;
}
.current-min-range, .current-max-range {
  font-size:14px;
  font-weight: 700;
  text-decoration: underline;
}
.name-one-container {
  width:66%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:10px;
}
.player-one-name, .player-two-name {
  width:100%;
  font-size: 21px;
}
.error-message {
  font-size:12px;
  color: #F74D9B;
}
.player-one-guess-container {
  width:34%;
   display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.player-one-guess, .player-two-guess {
 width: 100%;
 font-size: 21px;
 color: #F74D9B;
}
.name-two-container {
  width:66%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:10px;
}
.player-two-guess-container {
  width:34%;
   display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.game-buttons-container {
  display: flex;
}
.guess-button-container {
  padding:10px;
  flex:5;
}
.guess-button {
  width: 100%;
  height: 30px;
  background-color: #6E6E6E;
  color: #FFFFFF;
  border-radius: 15px;
   font-size: 14px;
  font-weight: 700;

}
.reset-button-container {
  padding:10px;
  flex:4;
}
.reset-button {
  background-color: #6E6E6E;
  width: 100%;
  height: 30px;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;

}
.clear-button-container {
  padding:10px;
  flex:4;
}
.clear-button {
  width: 100%;
  height: 30px;
  background-color: #6E6E6E;
  border-radius: 15px;
  color: #FFFFFF;
   font-size: 14px;
  font-weight: 700;
 
}
/*LEFT BOTTOM*/
.latest-score-container {
  width: 100%;
  background-color: #FFFFFF;
  margin:auto;
  display:flex;
}
.latest-player-one {
   padding:10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*border-right: 2px solid lightgrey;*/
  /*border-collapse: */
}
.guess-player-one, .guess-player-two {
  font-size: 64px;
  font-weight: 700;
  color: #F74D9B;
  text-align: center;
  /*flex:2;*/
}
.output-message-player-one, .output-message-player-two {
  text-align: center;
  font-weight: 300;
}
.latest-player-two {
   padding:10px;
  flex: 1;
   display: flex;
  flex-direction: column;
  justify-content: space-between;
  position:relative;
}
.challenger-one-name, .challenger-two-name {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  margin-bottom:3px;
}
.current-guess {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

/*RIGHT SIDE*/
.game-output-container {
  height: 960px;
  width: 472px;
  /*CHANGE WIDTH TO 320 FOR MOBILE*/
  background-color: lightgrey;
  /*display: flex;*/
  /*align-items: center;*/
  /*flex: 1;*/
  /*text-align: center;*/
}






/*OLD STUFF*/




/*Input side*/
/*
/*Range modifier titles*/
/*.range-titles {
  margin-top: 30px;
  display: flex; 
  justify-content: space-between;
  text-align: left;
}
.min-title {
  width: 30%;
  font-weight: 700;
}
.max-title {
  width: 30%;
  font-weight: 700;
}
.hidden-title {
  width: 30%;
  visibility: hidden;
}*/
/*Range modifiers*/
/*.range-modifiers {
  display: flex;
  justify-content: space-between;
}
*/

/*Error message*/
/*.error-messages  {
  border-bottom: 2px solid #D0D2D3;
  display: flex;
  justify-content: space-between;
}

.current-range {
  margin-top: 20px;
  margin-bottom: 20px;
}
.guess-title {
  margin-bottom: 15px;
  font-weight: 700;
}

.hide {
  background-color: #D0D2D3;
}*/
/*output side*/
/*.output-header {
  color: #FFFFFF;
  font-size: 51px;
  font-weight: 300;
}
.guess-number {
  margin-top: 60px;
  color: #DD1972;
  font-size: 146px;
  font-weight: 700;
}
.output-message {
  font-weight: 300;
  font-size: 40px;
  margin-top: 60px;
  color: #FFFFFF;
}*/