@media screen and (max-width: 944px) {
  body {
    min-width: 320px;
  }

  .game-container {
    flex-direction: column;
  }

  .thick-skinny-inline { 
    font-size: 40px;
  }

  .line-right, .line-left {
    width: 50px;
  }

  .ultimate-header {
    font-size: 15px;
  }

  .number-guesser-container {
    width: 100%;
  }

  .game-input-container { 
    width: 100%
  }

  .game-output-container {
    width: 100%
  }

  .range-modifiers-container {
    width: 320px;
    flex-direction: column;
  }

  .player-guesses-container {
    width: 320px;
    flex-direction: column;
  }

  .latest-score-container {
    width: 320px;
    flex-direction: column;
  }

  #dummy {
    display: none;
  }

  .min-range-container {
    padding: 10px 10px 2px;
  }

  .max-range-container {
    padding: 2px 10px 2px;
  }

  .update-button-container {
    padding: 2px 10px 10px;
  }

  .name-one-container {
    width: 100%;
  }

  .player-one-guess-container {
    width: 100%;
  }

  .name-two-container {
    width: 100%;
  }

  .player-two-guess-container {
    width: 100%;
  }

  .guess-button-container {
    padding: 10px 10px 5px;
  }

  .reset-button-container {
    padding: 5px 10px 5px;
  }

  .clear-button-container {
    padding: 5px 10px 10px;
  }

  .current-range-container {
    padding: 10px 10px 3px;
  }

  .player-two-guess-container {
    padding: 3px 10px 10px;
  }

  .name-one-container, .name-two-container {
    padding: 3px 10px;
  }

  .player-one-guess-container {
    padding: 3px 10px 20px;
  }

  .latest-score-container {
    width: 320px;
  }

  .latest-border {
    height: 2px;
    width: 260px;
  }

  .score-card {
    width: 320px;
  }

  .score-card-vs {
   flex-direction: column;
 }
}

@media screen and (min-width: 945px) {
  .thick-skinny-inline { 
    font-size: 54px;
  }

  .number-guesser-container {
    width: 944px;
  }

  .line-right, .line-left {
    width: 100px;
  }

  .ultimate-header {
    font-size: 18px;
  }

  .range-modifiers-container {
    width: 432px;
  }

  .player-guesses-container {
    width: 432px;
  }

  .game-input-container {
    width: 472px;
  }

  .game-output-container {
    width: 472px;
  }

  .max-range-container, .min-range-container {
    flex: 5;
    padding: 10px;
  }

  .update-button-container {
    flex: 3.5;
    padding: 10px;
  }

  .name-one-container {
    width: 66%;
  }
  .player-one-guess-container {
    width: 34%;
  }
  .name-two-container {
    width: 66%;
  }
  .player-two-guess-container {
    width: 34%;
  }
  .guess-button-container, .reset-button-container, .clear-button-container {
    padding: 10px;
  }

  .current-range-container, .name-one-container, .player-one-guess-container, .name-two-container, .player-two-guess-container {
    padding: 10px;
  }

  .latest-score-container {
    width: 100%;
  }

  .latest-border {

    height: 130px;
    width: 2px;
  }

  .score-card {
    width: 90%;
  }
}

.latest-border {
  border: 1px solid lightgrey;
}

* {
  margin: 0px;
  padding: 0px;
  color: #6E6E6E;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
}

#dummy {
  visibility: hidden;
}

.number-guesser-container {
  margin: auto;
}

.game-title-container {
  width: 100%;
  height: 150px;
  background-color: #404041;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header-container {
  margin-top: 30px;
}

.ultimate-container {
  display: flex;
  align-items: center;
  margin: 0px auto ;
}

.ultimate-header {
  font-weight: 300;
  color: #FFFFFF;
}

.line-right, .line-left {
  height: 2px;
  border: 1px solid white;
  margin: 3px;
}

.thick-skinny-inline {
  display: inline;
  color: #DD1972;
}

.game-header-thick {
  font-weight: 700;
  margin-right: -15px;
}

.game-header-skinny {
  font-weight: 300;
}

.game-container {
  display: flex;
  margin: auto;
}

.game-input-container {
  padding: 20px;
  background-color: #F7F7F7;
}

.range-modifiers-container {
  margin: auto;
  display: flex;
  align-content: middle;
  background-color: #FFFFFF;
}

.min-range-container  {
  display: flex;
  flex-direction: column;
}

.input-title-header {
  margin-bottom: 5px;
  font-size: 16px;
}

.input-box-header {
  font-size: 14px;
}

.min-range, .max-range {
  font-size: 21px;
  width: 100%;
}

.error-image {
  height: 10px;
  width: 10px;
}

.hide-error {
  visibility: hidden;
}

.max-range-container {
  display: flex;
  flex-direction: column;
}

.update-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.update-button {
  width: 100%;
  height: 30px ;
  color: #FFFFFF;
  background-color: #6E6E6E;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 700;
}

.player-guesses-container {
  align-content: middle;
  margin: auto;
  display: flex;
  background-color: #FFFFFF;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.current-range-container {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
}

.current-range {
  font-size: 14px;
}

.current-min-range, .current-max-range {
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
}

.name-one-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player-one-name, .player-two-name {
  width: 100%;
  font-size: 21px;
}

.error-message {
  font-size: 12px;
  color: #F74D9B;
}

.player-one-guess-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player-one-guess, .player-two-guess {
 width: 100%;
 font-size: 21px;
 color: #F74D9B;
}

.name-two-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player-two-guess-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-buttons-container {
  display: flex;
}

.guess-button-container {
  flex: 5;
}

.guess-button {
  width: 100%;
  height: 30px;
  background-color: #6E6E6E;
  color: #FFFFFF;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 700;
}

.reset-button-container {
  flex: 4;
}

.reset-button {
  background-color: #6E6E6E;
  width: 100%;
  height: 30px;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
}

.clear-button-container {
  flex: 4;
}

.clear-button {
  width: 100%;
  height: 30px;
  background-color: #6E6E6E;
  border-radius: 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
}

.latest-score-container {
  align-content: middle;
  background-color: #FFFFFF;
  margin: auto;
  display: flex;
  align-items: center;
}

.latest-player-one {
 padding: 10px;
 flex: 1;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

.guess-player-one, .guess-player-two {
  font-size: 64px;
  font-weight: 700;
  color: #F74D9B;
  text-align: center;
  min-height: 80px;
}

.output-message-player-one, .output-message-player-two {
  text-align: center;
  font-weight: 300;
}

.latest-player-two {
 padding: 10px;
 flex: 1;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 position: relative;
}

.challenger-one-name, .challenger-two-name {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3px;
}

.current-guess {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

.game-output-container {
  background-color: lightgrey;
}

.score-card-container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-card {
  margin-top: 20px;
  height: 160px;
  background-color: white;
  text-align: center;
}

.hide {
  background-color: #D0D2D3;
}

.score-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.score-card-vs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
}

.score-card-challenger {
  font-size: 15px;
  font-weight: 700;
}

.score-card-static-vs {
  font-weight: 300;
}

.score-card-winner {
  border: 1px solid black;
  width: 100%;
}

.score-card-winner-name {
  font-weight: 700;
  font-size: 24px;
}

.score-card-static-winner {
 font-weight: 300;
 font-size: 25px;
}

.score-card-stats {
  border: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.score-card-guesses {
  font-size: 12px;
  font-weight: 300;
}

.score-card-timer {
  font-size: 12px;
  font-weight: 300;
}